/* Add CSS Styling */
.class {
    background-color: pink;
}

.cooler {
    font-size: 20px;
}

#num2 {
    color: blue;
    font-size: 24px;    
}

#num4 {
    background-color: greenyellow;
    font-weight: bolder;
}